
@{
    ViewBag.Title = "Index";
}

<br>
<a href="/Review/InsertReview"> Insert Review </a>
<br>
<a href="/Review/ViewReviewRequest"> View Review </a>
<br>
<a href="/Review/ViewReviewRequesWSudent"> View Review (Admin)</a>
<br>
<a href="/Review/ViewClassAverageReview"> View Class Average</a>

