@{
    ViewBag.Title = "Staff";
}

<h2>Staff</h2>

<p>What does a staff able to do?</p>
<ul>
    <li><a href="~/Staff/StudentList">Manage student account</a></li>
    <li><a href='~/Review/ViewReviewStaff'>View Review</a></li>
    <li><a href="~/Review/ViewClassAverageReview">View Average Class Review</a></li>

  
</ul>
