@{
    ViewBag.Title = "Edit";
    var id = ViewBag.id;
}

<h3>Edit</h3>

Edit Student with @id
<div id="divStudentEdit">
    First Name : <input type="text" data-bind="value: $data.first" /><br />
    <br />
    Last Name : <input type="text" data-bind="value: $data.last" /><br />
    <br />
    Id : <input type="text" data-bind="value: $data.id" /><br />
    <br />
    SSN : <input type="text" data-bind="value: $data.ssn" /><br />
    <br />
    Email: <input type="text" data-bind="value: $data.email" /><br />
    <br />
    Password : <input type="text" data-bind="value: $data.password" /><br />
    <br />
    Shoe Size: <input type="text" data-bind="value: $data.shoesize" /><br />
    <br />
    Weight: <input type="text" data-bind="value: $data.weight" /><br />
    <br />
    <input type="button" data-bind="value: 'Update', click:$data.update" style="margin-left:80px" />
    <br /><br />
    <div id="divMessage"></div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var studentViewModelObj = new StudentViewModel();
        studentViewModelObj.Load("@id");
    });
</script>