<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dsn" value="Data Source=localhost;Initial Catalog=cse136;User Id=ucsd1;Password=password;"/>
    <add key="logDestination" value="file"/>
    <!--<add key="logDestination" value="db"/>-->
  </appSettings>
</configuration>