@{
    ViewBag.Title = "Index2";
}

<h2>Login</h2>
<div id="divLogin">
    <form method="post" action="/Login/Index2">
        <label>User Name</label>
        <input type="text" name="email" value="admin@cs.ucsd.edu" />
        <br />
        <label>Password</label>
        <input type="password" name="password" value="password" />
        <br />
        <input type="submit" value="Login" id="idSubmitButton" />
    </form>
</div>
