@{
    ViewBag.Title = "ViewDegreeAudit";
}
<style>
    .degaudit td{
        border:solid 1px black;
    }
</style>
<h2>ViewDegreeAudit</h2>
<table class="degaudit">
    <tr>
        <td>
            Course Title
        </td>
        <td>
            Course level
        </td>
        <td>
            Course Grade
        </td>
        <td>Action</td>
    </tr>
    <tr>
        <td>CSE 3</td>
        <td>Lower division</td>
        <td>A+</td>
        <td>
            <a href="~/Staff/EditDegreeAudit">update</a>
            <a href="~/Staff/DeleteDegreeAudit">delete</a>
        </td>
    </tr>


</table>
