
@{
    ViewBag.Title = "getPreReq";
}

<h2>Prerequisites</h2>

<div class="row">
   
    <div class="col-md-8">
        <h3>Prerequisites for CSE 1</h3>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>prerequisites for <input type="text" id="course" placeholder="1"></td>
                    <td><a>View</a></td>
                    <td></td>
                    
                </tr>
                <tr>
                    <td><input type="text" placeholder="CSE 1"></input></td>
                    <td><a>Edit</a></td>
                    <td><a>Delete</a></td>                    
                </tr>
                <tr>
                    <td><input type="text" placeholder="CSE 2"></input></td>
                    <td><a>Edit</a></td>
                    <td><a>Delete</a></td>
                </tr>
                <tr>
                    <td><input type="text" placeholder=""></input></td>
                    <td><a></a></td>
                    <td><a>Insert prereq</a></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<br>
