<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="dsn" value="Data Source=EDWINYOHANES-PC\SQLEXPRESS;Initial Catalog=cse136;User Id=ucsd1;Password=password;"/>
    <add key="logDestination" value="file"/>
    <!--<add key="logDestination" value="db"/>-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>